.hero {
  display: flex;
  flex-direction: column;
  height: 558px;

  padding: 0 14%;
  .carrousel {
    display: flex;
    flex-direction: row;

    margin-top: 16px;

    .one {
      display: flex;
      flex-direction: column;

      width: 280px;
      height: 194px;

      font-family: "Inter", sans-serif;

      img {
        width: 280px;
        height: 136px;

        border-radius: 8px;
        margin-bottom: 16px;
        object-fit: cover;
      }
      span:nth-child(2) {
        font-size: 12px;
        line-height: 18px;
        color: #58667e;
      }
      span:nth-child(3) {
        font-size: 14px;
        color: #000;
      }
    }
    .two,
    .three,
    .four,
    .five {
      display: flex;
      flex-direction: column;

      width: 280px;
      height: 194px;
      margin-left: 24px;

      font-family: "Inter", sans-serif;

      img {
        width: 280px;
        height: 136px;

        border-radius: 8px;
        margin-bottom: 16px;
        object-fit: cover;
      }
      span:nth-child(2) {
        font-size: 12px;
        line-height: 18px;
        color: #58667e;
      }
      span:nth-child(3) {
        font-size: 14px;
        color: #000;
      }
    }
  }
  .todays-cryptocurrency-price {
    font-family: "Inter", sans-serif;

    .title {
      margin: 8px 0px 4px;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      color: rgb(23, 25, 36);
    }
    .firstText {
      line-height: 1.5;
      margin: 0px;
      color: rgb(88, 102, 126);
      font-size: 14px;
      .total_market_cap {
        line-height: 1.5;
        margin: 0px;
        color: rgb(88, 102, 126);
        font-weight: 600;
        font-size: 14px;
      }
      .total_market_cap_pourcentage {
        .contentTotalMarketCapYesterdayPercentageChange {
          display: inline-flex;
        }
      }
    }
    span:nth-child(3) {
      margin-left: 0.4em;
      box-sizing: border-box;
      span {
        margin: 0px;
        color: rgb(128, 138, 157);
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .secondText {
      width: 1223.8px;
      height: 42px;

      line-height: 1.5;
      margin: 0px 0px 4px;
      color: rgb(88, 102, 126);
      font-size: 14px;
      .total_volume_24h {
        font-weight: 600;
      }
      .contentTotalVolume24hYesterdayPercentageChange {
        display: inline-flex;
      }
      .defi_market_cap_volume,
      .defi_market_cap_pourcentage,
      .stablecoin_market_cap_volume,
      .stablecoin_market_cap_pourcentage {
        line-height: 1.5;
        margin: 0px;
        color: rgb(88, 102, 126);
        font-weight: 600;
        font-size: 14px;
      }
    }
    .threeText {
      line-height: 1.5;
      margin: 0px 0px 4px;
      color: rgb(88, 102, 126);
      font-size: 14px;
      div:nth-child(1) {
        .btc_price {
          font-weight: 600;
        }
      }
      div:nth-child(2) {
        display: inline-flex;
        .btc_dominance {
          font-weight: 600;
        }
      }
    }
  }
}
