@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700");

.listings {
  width: 1280px;
  margin: 0 auto;

  .info {
    display: flex;
    align-items: center;
    background-color: goldenrod;
    height: 46px;
    // margin: 0 5%;
    margin-top: 20px;

    border-top: solid 1px rgba(70, 70, 70, 0.179);
    border-bottom: solid 1px rgba(70, 70, 70, 0.179);

    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    color: #171924;
    div:nth-child(1) {
      display: flex;
      align-items: center;

      width: 36px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkcyan;
    }
    div:nth-child(2) {
      display: flex;
      align-items: center;

      width: 52px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkgoldenrod;

      p {
        text-align: left;
      }
    }
    div:nth-child(3) {
      display: flex;
      align-items: center;
      background-color: darkgreen;
      width: 227px;
      height: 46.5px;
      padding: 11px 10px;

      p {
        text-align: left;
      }
    }
    div:nth-child(4) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 104px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkgrey;

      p {
        text-align: right;
      }
    }
    div:nth-child(5) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkmagenta;

      p {
        text-align: right;
      }
    }
    div:nth-child(6) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkorchid;

      p {
        text-align: right;
      }
    }
    div:nth-child(7) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 168.14px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkslateblue;

      p {
        text-align: right;
      }
      i {
        color: #a6b0c3;
      }
    }
    div:nth-child(8) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 178px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: darkslategrey;

      p {
        text-align: right;
      }
      i {
        color: #a6b0c3;
      }
    }
    div:nth-child(9) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 200px;
      height: 46.5px;
      padding: 11px 10px;

      background-color: deeppink;

      p {
        text-align: right;
      }
      i {
        color: #a6b0c3;
      }
    }
    div:nth-child(10) {
      height: 46.5px;
      padding: 11px 10px;
      justify-content: flex-end;

      background-color: deepskyblue;
    }
    div:nth-child(11) {
      height: 46.5px;
      padding: 11px 10px;

      background-color: dimgray;
    }
  }
  .crypto-monnaies {
    display: flex;
    align-items: center;

    height: 80px;
    font-family: "Inter", sans-serif;

    border-bottom: solid 1px #eff2f5;
    > div:nth-child(1) {
      width: 36px;
      padding: 10px;

      background-color: firebrick;

      i {
        color: #a6b0c3;
        height: 12px;
      }
    }
    > div:nth-child(2) {
      padding: 10px;
      text-align: left;
      background-color: cyan;
      width: 52px;
      p {
        line-height: 1.5;
        margin: 0px;
        color: rgb(88, 102, 126);
        font-size: 12px;
      }
    }
    > div:nth-child(3) {
      padding: 10px;
      text-align: left;
      background-color: rgb(84, 188, 188);
      > div:nth-child(1) {
        width: 206px;
        height: 24px;

        box-sizing: border-box;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          height: 24px;
          width: 24px;
          border-radius: 12px;
          margin-left: -2px;
        }
        div:nth-child(2) {
          height: 24px;

          display: flex;
          align-items: center;
          p:nth-child(1) {
            margin: 0px 0px 0px 5px;
            line-height: 24px;
            font-size: 14px;
            color: rgb(23, 25, 36);
            font-weight: 600;
          }
          div:nth-child(2) {
            height: 24px;

            div:nth-child(1) {
              display: none;
            }
            p:nth-child(2) {
              margin: 0px 0px 0px 6px;

              font-size: 14px;
              color: rgb(128, 138, 157);
            }
          }
        }
      }
    }
    > div:nth-child(4) {
      padding: 10px;
      width: 105px;
      text-align: end;
      font-weight: 600;
      font-size: 14px;

      background-color: dodgerblue;
    }
    > div:nth-child(5) {
      width: 80px;

      padding: 8px;
      text-align: end;
      font-size: 14px;
      font-weight: 600;

      background-color: rgb(184, 30, 255);
    }
    > div:nth-child(6) {
      width: 80px;

      padding: 10px;
      text-align: end;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(185, 144, 205);
    }
    > div:nth-child(7) {
      width: 168px;

      padding: 8px;
      text-align: end;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(30, 233, 255);
    }
    > div:nth-child(8) {
      width: 177px;

      padding: 9px;
      text-align: end;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(56, 159, 21);
    }
    > div:nth-child(9) {
      width: 201px;

      padding: 10px;
      text-align: end;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      background-color: rgb(255, 173, 30);

      > div:nth-child(1) {
        color: rgb(0, 0, 0);
      }
      > div:nth-child(2) {
        height: 6px;
        border-radius: 3px;
        background: rgb(239, 242, 245);
        width: 150px;
      }
    }
    > div:nth-child(10) {
      background-color: aquamarine;
    }
  }
}
